<p>
  I'm <a href="https://linkedin.com/in/scottsansovich" target="_blank">Scott Sansovich</a>, co-founder and head of product at <a href="https://edenhealth.com" target="_blank">Eden Health</a>. I write about healthcare, technology, and the combination of the two. Subscribe below to get these posts by email.
</p>
<form id="newsletter" action="https://tinyletter.com/scottsansovich" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/scottsansovich', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <input type="text" style="width:140px" name="email" placeholder="Email" id="tlemail" />
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe" />
</form>
<br />
